In [ ]:
# Nested For Loop
# List Comprehension

In [1]:
cities = ['karachi', 'hyderabad', 'islamabad', 'quetta', 'lahore']
visited_cities = ['islamabad', 'multan','faisalabad','quetta','peshawar']
print(cities)
print(visited_cities)

['karachi', 'hyderabad', 'islamabad', 'quetta', 'lahore']
['islamabad', 'multan', 'faisalabad', 'quetta', 'peshawar']

In [17]:
for city in cities:
    for visit_city in visited_cities:
        print(city, visit_city)
    print("------"*15)

karachi islamabad
karachi multan
karachi faisalabad
karachi quetta
karachi peshawar
------------------------------------------------------------------------------------------
hyderabad islamabad
hyderabad multan
hyderabad faisalabad
hyderabad quetta
hyderabad peshawar
------------------------------------------------------------------------------------------
islamabad islamabad
islamabad multan
islamabad faisalabad
islamabad quetta
islamabad peshawar
------------------------------------------------------------------------------------------
quetta islamabad
quetta multan
quetta faisalabad
quetta quetta
quetta peshawar
------------------------------------------------------------------------------------------
lahore islamabad
lahore multan
lahore faisalabad
lahore quetta
lahore peshawar
------------------------------------------------------------------------------------------

In [19]:
remaining_cities_visit = []

for city in cities:
    if city in visited_cities:
        print('already visited')
    else:
        remaining_cities_visit.append(city)
    print(remaining_cities_visit)

['karachi']
['karachi', 'hyderabad']
already visited
['karachi', 'hyderabad']
already visited
['karachi', 'hyderabad']
['karachi', 'hyderabad', 'lahore']

In [21]:
cities_to_visit = []
cities_to_visit

[]

In [25]:
cities_to_visit = []
user_input = ''

while user_input != 'quit':
    city = input('Enter city to visit:')
    if city == 'quit':
        user_input = 'quit'
    else:
        cities_to_visit.append(city)
    
print(cities_to_visit)

Enter city to visit: lahore
Enter city to visit: karachi
Enter city to visit: multan
Enter city to visit: Quit
Enter city to visit: quit

['lahore', 'karachi', 'multan', 'Quit']

In [30]:
week_days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
time_slots = ['9AM-10AM', '10AM-11AM', '11AM-12PM']
print(week_days)
print(time_slots)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
['9AM-10AM', '10AM-11AM', '11AM-12PM']

Schedule for Monday:
class at 9AM-10AM
class at 10AM-11AM
class at 11AM-12PM

Schedule for Tuesday:
class at 9AM-10AM
class at 10AM-11AM
class at 11AM-12PM

In [34]:
name = 'sara'
name
age = 25
age

25

In [50]:
print("This is my name:" +" "+  name + str(age))

This is my name: sara25

In [54]:
print(f'This is my name: {name} , {age}')

This is my name: sara , 25

In [56]:
week_days

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [58]:
time_slots

['9AM-10AM', '10AM-11AM', '11AM-12PM']

In [64]:
for week_day in week_days:
    print(f'Schedule for: {week_day}')
    for slot in time_slots:
        print(f'Class at: {slot}')
    print()

Schedule for: Monday
Class at: 9AM-10AM
Class at: 10AM-11AM
Class at: 11AM-12PM

Schedule for: Tuesday
Class at: 9AM-10AM
Class at: 10AM-11AM
Class at: 11AM-12PM

Schedule for: Wednesday
Class at: 9AM-10AM
Class at: 10AM-11AM
Class at: 11AM-12PM

Schedule for: Thursday
Class at: 9AM-10AM
Class at: 10AM-11AM
Class at: 11AM-12PM

Schedule for: Friday
Class at: 9AM-10AM
Class at: 10AM-11AM
Class at: 11AM-12PM

In [66]:
numbers = [2,3,4,5]
numbers

[2, 3, 4, 5]

In [80]:
number1 = []
for number in numbers:
    # print(number ** 2)
    square = number**2
    number1.append(square)

In [82]:
number1

[4, 9, 16, 25]

# List Comprehension

In [85]:
numbers

[2, 3, 4, 5]

In [89]:
num = [number**2 for number in numbers]
num

[4, 9, 16, 25]

In [91]:
Ec_Store_Orders = [
    {"order_id": 1, "customer_name": "Ali", "total_amount": 120, "status": "Completed"},
    {"order_id": 2, "customer_name": "Raheel", "total_amount": 80, "status": "Pending"},
    {"order_id": 3, "customer_name": "Saleem", "total_amount": 150, "status": "Completed"},
    {"order_id": 4, "customer_name": "khushnoor", "total_amount": 95, "status": "Completed"},
    {"order_id": 5, "customer_name": "Alizy", "total_amount": 200, "status": "Pending"},
    {"order_id": 6, "customer_name": "javaid", "total_amount": 85, "status": "Completed"},
    {"order_id": 7, "customer_name": "Talha", "total_amount": 150, "status": "Pending"},
    {"order_id": 8, "customer_name": "Naveed", "total_amount": 200, "status": "Completed"},
]

In [99]:
for order in Ec_Store_Orders:
    if order['total_amount'] > 100 and order['status'] == 'Completed':
        print(order)

{'order_id': 1, 'customer_name': 'Ali', 'total_amount': 120, 'status': 'Completed'}
{'order_id': 3, 'customer_name': 'Saleem', 'total_amount': 150, 'status': 'Completed'}
{'order_id': 8, 'customer_name': 'Naveed', 'total_amount': 200, 'status': 'Completed'}

In [103]:
with_out_list_comp = []
for order in Ec_Store_Orders:
    if order['total_amount'] > 100 and order['status'] == 'Completed':
        # print(order['order_id'])
        with_out_list_comp.append(order['order_id'])

In [105]:
with_out_list_comp

[1, 3, 8]

In [107]:
with_list_comp = [order['order_id'] for order in Ec_Store_Orders if order['total_amount'] > 100 and order['status'] == 'Completed']

In [109]:
with_list_comp

[1, 3, 8]